{% extends 'tool_pages/tool_shell.html' %}
{% block tool_form %}
<h2 class="h4 mb-3">Header and footer</h2>
<form method="post" action="{{ url_for('tools.run_tool', tool_key=tool.tool_key) }}" enctype="multipart/form-data" class="row g-3">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="col-12"><input class="form-control" type="file" name="document" accept=".pdf" required></div>
  <div class="col-md-6"><input class="form-control" type="text" name="header" placeholder="Header text"></div>
  <div class="col-md-6"><input class="form-control" type="text" name="footer" placeholder="Footer text"></div>
  <div class="col-12"><button class="btn btn-primary">Apply header/footer</button></div>
</form>
{% endblock %}
